body{
    background-color: blue;
}

.container{
    background-color: wheat;
}



div.display{
    background-color: aqua;
    font-size: 40pt;
    overflow: hidden;
    height: 88px;
}

div.calcola{
    max-width: 370px;
    background-color: white;
}

div.calcola > div > div > button.btn{
    font-size: 20pt;
    width: 80px;
    height: 80px;
}

